<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247627559502-me8ekr6b09hedmm3jimjtt4nkqd0hfk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247627559502-me8ekr6b09hedmm3jimjtt4nkqd0hfk7</string>
	<key>API_KEY</key>
	<string>AIzaSyAyEHjGmSdUWZEzFg6qJS3g6AzBkb_Pwf4</string>
	<key>GCM_SENDER_ID</key>
	<string>247627559502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bastard.ordersheet</string>
	<key>PROJECT_ID</key>
	<string>order-sheet-42332</string>
	<key>STORAGE_BUCKET</key>
	<string>order-sheet-42332.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247627559502:ios:bc7766d51c29a956cf091f</string>
</dict>
</plist>